<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/anoop/IdeaProjects/IndeedWebScrapping/src/test/java/indeed/ScrappingTest.java">
        <classes>
            <class name="indeed.IndeedScrapping"></class>
        </classes>
    </test>
</suite>